@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;700&display=swap');

body {
  font-family: 'Noto Sans Thai', sans-serif;
  background-color: #f7f9fc;
  margin: 0;
  padding: 25px;
}
